
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700);


* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


body {
   font-family: 'Lato', sans-serif;
   margin: 0 auto;
   font-size: 12px;
   width: 100%;
}

/* header ---- */

header {
  margin-top: 20px;
  padding-left: 2.5%;
  width: 100%;
  height: 76px;
}

.heading {
  color: #fff;
}


div.logo img{
    width: 113px;
    height: 54px;
    clear: both;
}

.nav-bar  {
  margin-top: -2.5%;
  margin-left: 70%;
  
}
.nav-bar ul li {
  list-style: none;
  float: left; 
  margin-left: 12%;  
}

.nav-bar li a {
  font-weight:600;
  text-transform: uppercase;;
  text-decoration: none;
  color:#4556a5;
  padding-bottom: 9px;
}

.nav-bar li a:hover {
    border-bottom: 5px solid #af1f59;
}
/* hero ---*/ 


.hero {
    background-image: url("../Photos/MountainHero.jpg");
    background-size: cover;
    height: 520px;
    width:100%;
    margin-top: -13px;
    background-color: #4556a5;
    background-blend-mode:soft-light;
}

.nav-path {
    margin-top: -10px;
    margin-left:2%;
    display: inline-block;
}

.nav-path  {
     margin-top: 30px;
}

.nav-path span {
  font-weight:600;
  font-size: 1em;
  color:#fff;
}
.nav-path i {
   font-size: 1em;
   font-weight: 100;
   color: #fff;
}

i.fa-home {
  font-size:2em;
}

.heading  {
   color: #fff;
   letter-spacing: 0.9;
   margin-left:2%;
   width: 50%;
}

.heading h3 {
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
}
.heading h2 {
     font-size: 2.66em;
     font-weight:600;
}

.heading p {
     font-size:1.5em;
     font-weight: 300;
     margin-bottom: 3%;
}

svg {
   position: absolute;
    height: 520px;
    top: 59px;
    overflow: hidden;
    left: 40%;
}

.grid-item {
    width: 12.5%;
    height: 123.23px;
    float: left;
    background: #fff;
    border: 1px solid #4655a5;
    font-size: 2em;
    font-weight: 600;
    color:#4655a5;
    text-align: center;
    padding-top:55px;
    cursor: pointer;
    letter-spacing: 0.8;
}

.grid-item:hover {
  background-color: #4655a5;
  color:#fff;
}

.category-grid {
    margin-top: 162px;
    width:100%;
}

/* code challenge */

section.code-test {
	width: 80%;
	height:1111px;
}

div.test-title {
	margin-left: 20%;
	text-align: center;
}
.code-test h1 h5 {
    color:#424142;
    font-weight: 600;
}

.code-test h1 {
	font-size: 4em;
}

.code-test h5 {
	font-size: 1.75em;
	margin-top: -20px;
}



/* code challenge iframe, and jquery pop up window*/

iframe {
	width: 100%;
	height:739.92px;
  margin-left:10%;
}

/* buttons for code challenge*/

.code-button li {
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	list-style: none;
	cursor:pointer;
	color: #fff;
	float: left;
	display: inline-block;
  text-align: center;
  margin-left:6.8%;
  width:100%;
}

#button1 {
	background-color: #ef447c;
	width: 156.89px;
	height:50px;
	padding-top: 12.5px;
  margin-top: -15px;
  overflow: hidden;
}

#button3 {
	background-color: #ef447c;
	width: 156.89px;
	height:50px;
	padding-top: 12.5px;
	margin-left: 12px;
  transform:translateX(80%);
}

#button2 {
	background-color: #a7a9ac;
	width: 156.89px;
	height:50px;
	padding-top: 12.5px;
	margin-left: 48%;
  transform:translateX(80%);
}


/* dialog box style when click submit */ 

#pop-window {
	position: absolute;
	left:5%;
	top:100%;
	width:851px;
	height: 465px;
	z-index: 10; 
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
  background-color: #f1f2f2;
  border:none;
}

#pop-window h3 {
	background-color: #4655a5;
	height: 70px;
	width:100%;
	color:#fff;
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
	margin:0 auto;
	font-weight: 400;
	padding-top:17.5px;
}

#pop-window p {
	font-size:2em;
	color:#404041;
	text-align: center;
}

#exit  {
	padding: 25px 78px;
	background-color:#ee447c;
	text-align: center;
	font-size:2em;
	text-decoration: none;
	color:#fff;
	letter-spacing: 0.9px;
}

div.exit-box {
	margin-top: 100px;
	margin-left: 290px;
}



/* footer ----*/

footer {
  background-color:#231f20;
  margin-top: -60px;
  position: relative;
  height: 356px;
  z-index: -9;
  clear: both;

}

.contact-us ul li {
  float: left;
  list-style: none;
  margin-top:40px;
  margin-left:5%;
}

.list-header {
  margin-right: 10%;
  margin-bottom: 5%;
}

.contact-us h6{
    color: #ef447c;
    font-size:1.28em;
    font-weight: 600;
    list-style: none;
}

.contact-us p {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}

.connect  i {
  float: left;
  background-color:#fff;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  -moz-border-radius: 12.5px;
  -webkit-border-radius: 12.5px;
  border-radius: 12.5px;
  margin-right:10px;
  padding-top:6px;
  color:#4655a5;
}

ul.connect {
   margin-left:-45px;
   margin-top:-40px;
   width:200px;
}


/* footer's very bottom, copyright and logo*/

.bottom {
  clear: both;
  
}
.bottom p {
  margin-top:3%;
  position: relative; 
  margin-left:7%;
}

.copy-right {
  color: #fff;
}






